{
  "openapi": "3.0.3",
  "info": {
    "version": "latest",
    "title": "Rebilly API",
    "contact": {
      "name": "Rebilly API Support",
      "url": "https://www.rebilly.com/contact/",
      "email": "integrations@rebilly.com"
    },
    "license": {
      "name": "Rebilly",
      "url": "https://www.rebilly.com/api-license/"
    },
    "termsOfService": "https://www.rebilly.com/terms-of-use/",
    "x-logo": {
      "url": "https://rebilly-core.redoc.ly/rb_apiLogo.svg",
      "backgroundColor": "#0044d4"
    },
    "description": "# Introduction\n\nThe Rebilly API is built on HTTP and is RESTful.\nIt has predictable resource URLs and returns HTTP response codes to indicate errors.\nIt also accepts and returns JSON in the HTTP body.\nUse your favorite HTTP/REST library in your programming language when using this API,\nor use one of the Rebilly SDKs,\nwhich are available in [PHP](https://github.com/Rebilly/rebilly-php) and [JavaScript](https://github.com/Rebilly/rebilly-js-sdk).\n\nEvery action in the [Rebilly UI](https://app.rebilly.com) is supported by an API which is documented and available for use, so that you may automate any necessary workflows or processes.\nThis API reference documentation contains the most commonly integrated resources.\n\n# Authentication\n\nThis topic describes the different forms of authentication that are available in the Rebilly API, and how to use them.\n\nRebilly offers four forms of authentication: secret key, publishable key, JSON Web Tokens, and public signature key.\n\n- Secret API key: Use to make requests from the server side. Never share these keys. Keep them guarded and secure.\n- Publishable API key: Use in your client-side code to tokenize payment information.\n- JWT: Use to make short-life tokens that expire after a set period of time.\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n## Manage API keys\n\nTo create or manage API keys, select one of the following:\n\n- Use the Rebilly UI: see [Manage API keys](https://www.rebilly.com/docs/dev-docs/api-keys/#manage-api-keys)\n- Use the Rebilly API: see the [API key operations](https://all-rebilly.redoc.ly/tag/API-keys).\n\nFor more information on API keys, see [API keys](https://www.rebilly.com/docs/concepts-and-features/concept/api-keys).\n\n# Errors\nRebilly follows the error response format proposed in [RFC 7807](https://tools.ietf.org/html/rfc7807), which is also known as Problem Details for HTTP APIs. As with any API responses, your client must be prepared to gracefully handle additional members of the response. The following section describes common error types.\n\n## Forbidden\n<RedocResponse pointer={\"#/components/responses/Forbidden\"} />\n\n## Conflict\n<RedocResponse pointer={\"#/components/responses/Conflict\"} />\n\n## NotFound\n<RedocResponse pointer={\"#/components/responses/NotFound\"} />\n\n## Unauthorized\n<RedocResponse pointer={\"#/components/responses/Unauthorized\"} />\n\n## ValidationError\n<RedocResponse pointer={\"#/components/responses/ValidationError\"} />\n\n# SDKs\n\nRebilly provides a JavaScript SDK and a PHP SDK to help interact with the Rebilly API.\nHowever, no SDK is required to use the API.\n\nRebilly also provides [FramePay](https://www.rebilly.com/docs/developer-docs/framepay/),\na client-side iFrame-based solution, to help create payment tokens while minimizing PCI DSS compliance burdens\nand maximizing your customization ability.\n[FramePay](https://www.rebilly.com/docs/developer-docs/framepay/) interacts with the [payment tokens creation operation](https://all-rebilly.redoc.ly/tag/Payment-tokens/operation/PostToken).\n\n## JavaScript SDK\n\nFor installation and usage instructions, see [SDKs](https://www.rebilly.com/docs/dev-docs/sdks/).\nAll JavaScript SDK code examples are included in the API reference documentation.\n\n## PHP SDK\n\nFor installation and usage instructions, see [SDKs](https://www.rebilly.com/docs/dev-docs/sdks/).\nAll SDK code examples are included in the API reference documentation.\nTo use them, you must configure the `$client` as follows:\n\n```php\n$client = new Rebilly\\Client([\n    'apiKey' => 'YourApiKeyHere',\n    'baseUrl' => 'https://api.rebilly.com',\n]);\n```\n\n# Using filter with collections\n\nRebilly provides collections filtering. Use the `?filter` parameter on collections to define which records should be shown in the response.\n\nFormat description:\n\n- Fields and values in the filter are separated with `:`: `?filter=firstName:John`.\n\n- Sub-fields are separated with `.`: `?filter=billingAddress.country:US`.\n\n- Multiple filters are separated with `;`: `?filter=firstName:John;lastName:Doe`. \\\n  They are joined with `AND` logic. Example: `firstName:John` AND `lastName:Doe`.\n\n- To use multiple values, use `,` as values separators: `?filter=firstName:John,Bob`. \\\n  Multiple values specified for a field are joined with `OR` logic. Example: `firstName:John` OR `firstName:Bob`.\n\n- To negate the filter, use `!`: `?filter=firstName:!John`.\n\n- To negate multiple values, use: `?filter=firstName:!John,!Bob`.\n  This filter rule excludes all `Johns` and `Bobs` from the response.\n\n- To use range filters, use: `?filter=amount:1..10`.\n\n- To use a gte (greater than or equals) filter, use: `?filter=amount:1..`.\n  This also works for datetime-based fields.\n  \n- To use a lte (less than or equals) filter, use: `?filter=amount:..10`.\n  This also works for datetime-based fields.\n\n- To create [specified values lists](https://all-rebilly.redoc.ly/#tag/Lists) and use them in filters, use: `?filter=firstName:@yourListName`. \\\n  You can also exclude list values: `?filter=firstName:!@yourListName`. \\\n  Use value lists to compare against a list of data when setting conditions for rules or binds,\n  or applying filters to data table segments.\n  Commonly used lists contain values related to conditions that target specific properties such as: customers, transactions, or BINs.\n\n- Datetime-based fields accept values formatted using RFC 3339. Example: `?filter=createdTime:2021-02-14T13:30:00Z`.\n\n# Expand to include embedded objects\n\nRebilly provides the ability to pre-load additional objects with a request.\n\nYou can use the `?expand` parameter on most requests to expand and include embedded objects within the `_embedded` property of the response.\nThe `_embedded` property contains an array of objects keyed by the expand parameter values.\nTo expand multiple objects, pass them as a comma-separated list of objects.\n\nExample request containing multiple objects:\n\n```\n?expand=recentInvoice,customer\n```\n\nExample response:\n\n```\n\"_embedded\": [\n    \"recentInvoice\": {...},\n    \"customer\": {...}\n]\n```\n\nExpand may be used on `GET`, `PATCH`, `POST`, `PUT` requests.\n\n# Get started\n\nThe full [Rebilly API](https://all-rebilly.redoc.ly/) has over 500 operations.\nThis is likely more than you may need to implement your use cases.\nIf you would like to implement a particular use case,\n[contact Rebilly](https://www.rebilly.com/support/) for guidance and feedback on the best API operations to use for the task.\n\nTo integrate Rebilly, and learn about related resources and concepts,\nsee [Get started](https://www.rebilly.com/docs/dev-docs/get-started/).\n"
  },
  "servers": [
    {
      "url": "https://api-sandbox.rebilly.com/organizations/{organizationId}",
      "description": "Sandbox server",
      "variables": {
        "organizationId": {
          "default": "unknown",
          "description": "Unique organization identifier.\nAn organization is an entity that represents a company.\nFor more information, see [Obtain an organization ID](https://www.rebilly.com/docs/settings/organizations-and-websites/#obtain-your-organization-id-and-website-id)."
        }
      }
    },
    {
      "url": "https://api.rebilly.com/organizations/{organizationId}",
      "description": "Live server",
      "variables": {
        "organizationId": {
          "default": "unknown",
          "description": "Unique organization identifier.\nAn organization is an entity that represents a company.\nFor more information, see [Obtain an organization ID](https://www.rebilly.com/docs/settings/organizations-and-websites/#obtain-your-organization-id-and-website-id)."
        }
      }
    }
  ],
  "security": [
    {
      "SecretApiKey": []
    },
    {
      "JWT": []
    }
  ],
  "tags": [
    {
      "name": "AML",
      "description": "Use Anti-Money Laundering (AML) operations to screen customers and help prevent your business from becoming directly or indirectly involved in criminal activity.\n\nUse AML operations during customer creation, and some transaction processing,\nto help determine if a potential customer (lead), or customer, has political or economic sanctions against them.\n\nAML operations search the following for screening purposes:\nPolitically Exposed Persons (PEPs) lists, sanction lists,\nand adverse media lists."
    },
    {
      "name": "Blocklists",
      "description": "Use blocklists to prevent fraud and criminal activity.\n\nBlocklists are lists of customer attribute values that are blocked from buying from you.\nFor example, if a customer attempts to make a purchase from you with a credit card that is in a blocklist, the transaction is blocked and is not processed.\n\nBefore a new transaction is processed in Rebilly, blocklists are examined to check for attributes related to the entity.\nIf a match is detected, the operation is aborted.\nA blocklist that expires after a period of time is called a greylist."
    },
    {
      "name": "Cashier",
      "description": "Create and manage cashier requests and manage strategies that determine the deposit amounts to display on the page.\nRebilly hosted cashiers provide a secure and compliant way to deposit funds.\nCashier forms are customizable, and use fully responsive design, built-in error messaging and validation.\n\n> **Important:** These operations are experimental and may change."
    },
    {
      "name": "Coupons",
      "description": "Use coupons to reward customers, generate sales, or to test new pricing strategies.\nCoupons enable you to apply different types of discounts to invoices, subscriptions, and pricing plans.\n\nRedeemed coupons are attached to a customer's account.\nDepending on the coupon restrictions, the redeemed coupons are then applied from the customer's account to subsequent invoices or subscriptions.\nRedeemed coupons can only be applied to invoices of the same currency.\n\nOnce a coupon is redeemed it cannot be modified.\nYou may deactivate a coupon or create a new coupon, but you cannot reuse the same coupon code.\nIf you have a use case where you must reuse the same code, [contact Rebilly](https://www.rebilly.com/contact/).\n\n### Coupon restriction types\n\nThe following coupon description types are available:\n\n- `restrict-to-countries`: Restricts a coupon for use in specific countries.\n- `discounts-per-redemption`: Restricts the number of times that the coupon can be applied by one redemption.\n  For example, use this restriction to configure a coupon that can only be applied to the first subscription renewal of a particular product.\n- `minimum-order-amount`: Sets a minimum order amount for a coupon application.\n  For example, if the restriction amount is $20, the coupon is only applied to invoices with a total amount of $20 or more.\n- `restrict-to-invoices`: Restricts a coupon to specific invoices.\n- `restrict-to-plans`: Restricts a coupon to specific pricing plans.\n- `restrict-to-subscriptions`: Restricts a coupon to specific order subscriptions.\n- `restrict-to-products`: Restricts a coupon to specific products.\n- `paid-by-time`: Specifies a date and time at which a coupon redemption expires if not paid.\n- `redemptions-per-customer`: Restricts the number of times that a coupon can be redeemed by one customer.\n  For example, use this restriction to limit the number of redemptions to one per customer.\n- `total-redemptions`: Restricts the number of times a coupon can be redeemed by different customers.\n- `restrict-to-bxgy`: Provides \"buy X get Y\" promotions.\n  These promotions incentivize new customers to buy and also reward existing customers.\n  This restriction type enables you to add discounted plans to an invoice when a certain quantity of other plans are purchased.\n  For example, if a customer buys two or more books, they get one free bookmark."
    },
    {
      "name": "Credit memos",
      "description": "Use credit memos to provide a customer with store credit.\nA common use case for using a credit memo is to provide a customer with store credit,\nrather than a refund, if the customer pays more than they owe or returns a product.\nFor information on the credit memo resource, see [Resources](https://www.rebilly.com/docs/dev-docs/concepts/#resources)."
    },
    {
      "name": "Credit memos timeline",
      "description": "Use credit memo timelines to maintain an audit trail of changes and activity for each credit memo.\nCredit memos are a means of providing a customer with store credit."
    },
    {
      "name": "Custom fields",
      "description": "Use custom fields to extend a resource scheme to include custom data that is not provided as a common field.\nDepending on the resource on which the custom field is added, it may be available in the Rebilly UI.\n\nExample: A custom field called `preferredCommunicationChannel` is added to the customer resource.\nIt has two allowed values, which are 'email' and 'phone'.\n\n```js\n{\n  \"customFields\": {\n      \"preferredCommunicationChannel\": \"email\"\n  }\n}\n```\n\nFor detailed information on Rebilly resources, see [Resources](https://www.rebilly.com/docs/dev-docs/concepts/#resources)."
    },
    {
      "name": "Customer authentication",
      "description": "Use these operations to validate the identity of users and manage authentication credentials."
    },
    {
      "name": "Customers",
      "description": "Use these operations to manage customers.\nA customer is an entity that purchases goods or services from you (a merchant),\nand is the payee in any transaction that is credited to you.\nCustomers are associated with payment instruments,\nsubscriptions, invoices, and other related resources.\n\nIn other systems, customers may be referred to as accounts,\nclients, members, patrons, or players.\nFor information on the customer resource, see [Resources](https://www.rebilly.com/docs/dev-docs/concepts/#resources)."
    },
    {
      "name": "Customers timeline",
      "description": "Use customer timelines to maintain an audit trail of changes and activity for each customer."
    },
    {
      "name": "Disputes",
      "description": "Use these operations to manage disputes.\nA dispute occurs when a customer contests a charge to their account.\nThe dispute and related information is made available to the merchant by the bank or credit card company.\nThe merchant then has the option to represent the charge and win the case.\nThis process is called dispute resolution.\nIf the merchant is unable to represent the charge, the card issuer typically reverses the sale and adds fees on top of the charge.\nThis process is called a chargeback."
    },
    {
      "name": "Fees",
      "description": "Use fees to reconcile transactions with applicable fees and discount rates.\nFees are not applied directly to transaction amounts, they do not modify the transaction amount.\nFees help to describe each part of the transaction amount.\n\n> **Important:** These operations are experimental and may change."
    },
    {
      "name": "Files",
      "description": "Use the file entity to store files and related metadata.\nFiles can be sorted by size, MIME-type, user-defined tags, and description.\n\nThe following methods are available to upload files:\nmultipart/form-data encoded form, RAW POST &mdash;\nby sending the file contents as the POST body, and fetching from URL &mdash;\nby providing the file URL using the 'url' parameter.\n\nUse the attachments entity to link a file to one or multiple objects, such as:\ncustomer, dispute, transaction, order, plan, product, invoice, or timeline comment.\nAttachments enable you to quickly find and use files related to specific entities."
    },
    {
      "name": "Invoices",
      "description": "Use invoices to bill for the goods or services that you provide.\nIf your invoice includes subscription items, it also includes the corresponding service periods and prices."
    },
    {
      "name": "Invoices timeline",
      "description": "Use invoice timelines to maintain an audit trail of changes and activity for each invoice."
    },
    {
      "name": "Journal",
      "description": "Use journal accounts, entries and records to track and recognize revenue."
    },
    {
      "name": "KYC documents",
      "description": "Use Know Your Customer (KYC) documents to verify your customers identity.\nThe KYC document operations generate a signed link to the Rebilly [KYC document gatherer](https://www.rebilly.com/docs/kyc-and-aml/kyc-document-gatherer/).\n\nDocument types:\n  - `identity-proof`: Validates a customer's identity.\n  - `address-proof`: Validates a customer's address.\n  - `purchase-proof`: Validates a customer's purchase.\n  - `funds-proof`: Validates that a customer has funds.\n  - `credit-file-proof`: Verifies that there is an existing credit file with two sources that match the customer's name, DOB, and address.\n\nRebilly parses and analyzes the documents and accepts or rejects them according to a configurable scoring algorithm.\nWhen all document types in a KYC request are accepted, the status is fulfilled, and the [KYC request fulfilled webhook](https://www.rebilly.com/docs/dev-docs/api/operation/kyc-request-fulfilled/) is sent.\n\n### Credit file proof\n\nThe `credit-file-proof` KYC document request type is only available in the API,\nthis option is not available in the [KYC document gatherer](https://www.rebilly.com/docs/kyc-and-aml/kyc-document-gatherer/).\nThis request verifies that there is an existing credit file with two sources that match the person's name, date of birth, and address.\n\nIn Canada, to meet FINTRAC requirements, the `credit-file-proof` KYC document request verifies the customer's name, address, and date of birth with a credit agency.\n\nIf `credit-file-proof` is requested in combination with `identity-proof` and `address-proof`,\n`credit-file-proof` is attempted first.\nIf `credit-file-proof` validates the identity and address,\nthe KYC request is considered fulfilled.\nIf the request is not fulfilled,\nredirect your customer to the KYC document gatherer to collect their KYC documents."
    },
    {
      "name": "Orders",
      "description": "Use these operations to manage customer orders.\nAn order is a customer's request to purchase items.\nIt can contain subscription and one-time sale items.\nWhen an order contains one or more subscription items, it is a subscription order.\n\nAn order generates an invoice.\nA subscription order generates an invoice for each service period.\nFor more information, see [Orders](https://www.rebilly.com/docs/dev-docs/concepts/#orders)."
    },
    {
      "name": "Orders timeline",
      "description": "Use order timelines to maintain an audit trail of changes and activity for each order."
    },
    {
      "name": "Payment instruments",
      "description": "Use these operations to manage payment instruments.\nPayment instrument is a term which describes any means of making a digital payment, such as:\ncredit cards, debit cards, direct debits, payment service providers, and digital wallets.\n\nFor more information on payment instruments, see [Payment instruments](https://www.rebilly.com/docs/dev-docs/concepts/#payment-instruments)."
    },
    {
      "name": "Payment tokens",
      "description": "Use payment tokens to reduce the scope of [PCI DSS compliance](https://www.rebilly.com/docs/pci-compliance/).\n\nA payment token can be made using a different authentication scheme (public key authentication), which enables you to create a payment token directly from the browser.\nThis bypasses the need to send sensitive cardholder info to your servers.\nWe recommend using this with the FramePay library, which helps you integrate a form into this API resource and create payment tokens."
    },
    {
      "name": "Plans",
      "description": "Use pricing plans to describe how the customer must pay for [products](https://www.rebilly.com/docs/dev-docs/api/tag/Products/).\n\nRebilly provides the following plan types:\n\n- Trial only: Use this plan to create and offer a free or discounted trial period for your product.\n  For example, a free 2 week trial of an internet service.\n  After the trial, the customer can choose to sign up for a paid subscription, or stop using the service.\n- Recurring: Use this plan to create and offer a subscription for your product.\n  For example, a monthly subscription to an internet service that is charged at 20 USD per month.\n- One time sale: Use this plan to create and offer a one-off sale for your products.\n  For example, a one time purchase of two bags of coffee.\n\nFor information on the plans resource, see [Plans](https://www.rebilly.com/docs/dev-docs/concepts/#plans).\n\nFor information on plan pricing, see [Pricing formulas](https://www.rebilly.com/docs/settings/pricing-formulas/)."
    },
    {
      "name": "Products",
      "description": "Use products to describe the goods and services that your business sells.\nA product also describes sales items on invoices and receipts.\nProduct pricing is defined in [plans](https://www.rebilly.com/docs/dev-docs/api/tag/Plans/).\nA product may have one or many plans.\n\nFor information on the product resource, see [Product](https://www.rebilly.com/docs/dev-docs/concepts/#products)."
    },
    {
      "name": "Quotes",
      "description": "Use quote operations to create and manage quotations.\nQuotations describe the cost of goods or services to potential customers before they commit to a purchase.\nA quote contains an initial invoice preview that can be accepted to become an order.\n\nA quote can contain subscription and one-time sale items.\nWhen a quote contains one or more subscription items, it is a subscription order quote."
    },
    {
      "name": "Quotes timeline",
      "description": "Use quote timelines to maintain an audit trail of changes and activity for each quote."
    },
    {
      "name": "Risk score",
      "description": "Use risk score operations to configure blocklists based on transaction risk factors."
    },
    {
      "name": "Search",
      "description": "Use search operations to search data on customers, invoices, orders, transactions and more."
    },
    {
      "name": "Shipping rates",
      "description": "Use these operations to manage shipping rates.\nA shipping rate contains a filter and a pricing for a specific shipping destination."
    },
    {
      "name": "Tags",
      "description": "Use tags to organize and categorize customers or KYC documents based on keywords."
    },
    {
      "name": "Transactions",
      "description": "Use these operations to:\n  - set up payment instruments for payments\n  - authorize and hold funds\n  - capture funds\n  - make payments\n  - make payouts\n  - refund transactions."
    },
    {
      "name": "Transactions timeline",
      "description": "Use transaction timelines to maintain an audit trail of changes and activity for each transaction."
    },
    {
      "name": "Usage",
      "description": "Use these operations to manage the product usage of a subscription item for metered billing purposes.\n\nUse metered billing when product quantity is unknown to the customer at the moment of creating a subscription.\nMetered billing is based on reported usage records.\nEvery reported usage updates the quantity of an upcoming invoice item for a specified subscription and a plan.\nTo create a metered billing plan, see [Plans](../Plans)."
    }
  ],
  "paths": {
    "/aml": {
      "get": {
        "tags": [
          "AML"
        ],
        "summary": "Search an individual's details against AML lists",
        "operationId": "GetAmlHit",
        "x-sdk-operation-name": "getAll",
        "description": "Searches a individual's details against multiple Politically Exposed Person (PEP), sanction, or adverse media lists to determine if the customer is blocklisted.\nPerforms a fuzzy search that uses Soundex.\nNote that some returned fields may not contain values.",
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "required": true,
            "description": "First name of the individual to search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "required": true,
            "description": "Last name of the individual to search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dob",
            "in": "query",
            "required": false,
            "description": "Individual's date of birth in YYYY-MM-DD format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country where the individual lives in\nISO Alpha-2 code format. For examples, see\n[ISO.org](https://www.iso.org/obp/ui/#search/code/).",
            "schema": {
              "$ref": "#/components/schemas/Country"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results retrieved.\n- - -\nReturns an array of objects that represent hits, or an empty array if no hits are found.",
            "headers": {
              "Pagination-Total": {
                "$ref": "#/components/headers/Pagination-Total"
              },
              "Pagination-Limit": {
                "$ref": "#/components/headers/Pagination-Limit"
              },
              "Pagination-Offset": {
                "$ref": "#/components/headers/Pagination-Offset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AML"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/aml-checks": {
      "get": {
        "tags": [
          "AML"
        ],
        "summary": "Retrieve AML checks",
        "operationId": "GetAmlCheckCollection",
        "x-sdk-operation-name": "getAll",
        "description": "Retrieves a list of AML checks.\nThese checks are records of customer data and potentially matching data in AML lists.",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionLimit"
          },
          {
            "$ref": "#/components/parameters/collectionOffset"
          },
          {
            "$ref": "#/components/parameters/collectionSort"
          },
          {
            "$ref": "#/components/parameters/collectionFilter"
          },
          {
            "$ref": "#/components/parameters/collectionQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AML checks retrieved.",
            "headers": {
              "Pagination-Total": {
                "$ref": "#/components/headers/Pagination-Total"
              },
              "Pagination-Limit": {
                "$ref": "#/components/headers/Pagination-Limit"
              },
              "Pagination-Offset": {
                "$ref": "#/components/headers/Pagination-Offset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AmlCheck"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/aml-checks/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "get": {
        "tags": [
          "AML"
        ],
        "summary": "Retrieve an AML check",
        "operationId": "GetAmlCheck",
        "x-sdk-operation-name": "get",
        "description": "Retrieves the results of a customer's AML check.\nCustomer metadata and an array of matching AML hits is returned.",
        "responses": {
          "200": {
            "description": "AML check retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmlCheck"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/aml-checks/{id}/review": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "post": {
        "tags": [
          "AML"
        ],
        "summary": "Review an AML check",
        "operationId": "PostAmlCheckReview",
        "x-sdk-operation-name": "review",
        "description": "Reviews an AML check.\nThe AML check can be either confirmed or marked as a false positive with a customer tag.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmlCheckReview"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AML check reviewed.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmlCheck"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/aml-settings": {
      "get": {
        "tags": [
          "AML"
        ],
        "summary": "Retrieve AML settings",
        "operationId": "GetAmlSettings",
        "x-sdk-operation-name": "getAmlSettings",
        "description": "Retrieves AML settings.",
        "responses": {
          "200": {
            "description": "AML settings retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmlSettings"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "AML"
        ],
        "summary": "Update AML settings",
        "operationId": "PutAmlSettings",
        "x-sdk-operation-name": "putAmlSettings",
        "description": "Updates AML settings.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmlSettings"
              }
            }
          },
          "description": "Settings for AML searches.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "AML settings updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmlSettings"
                }
              }
            }
          },
          "201": {
            "description": "AML settings created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmlSettings"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/attachments": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Retrieve attachments",
        "operationId": "GetAttachmentCollection",
        "x-sdk-operation-name": "getAllAttachments",
        "description": "Retrieves a list of attachments. You may sort attachments by: `id`,\n`name`, `relatedId`, `relatedType`, `fileId`, `createdTime`,\nand `updatedTime`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionLimit"
          },
          {
            "$ref": "#/components/parameters/collectionOffset"
          },
          {
            "$ref": "#/components/parameters/collectionFilter"
          },
          {
            "$ref": "#/components/parameters/collectionQuery"
          },
          {
            "$ref": "#/components/parameters/collectionExpand"
          },
          {
            "$ref": "#/components/parameters/collectionFields"
          },
          {
            "$ref": "#/components/parameters/collectionSort"
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments retrieved.",
            "headers": {
              "Pagination-Total": {
                "$ref": "#/components/headers/Pagination-Total"
              },
              "Pagination-Limit": {
                "$ref": "#/components/headers/Pagination-Limit"
              },
              "Pagination-Offset": {
                "$ref": "#/components/headers/Pagination-Offset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$attachments = $client->attachments()->search([\n    'filter' => 'relatedType:customer',\n]);\n"
          },
          {
            "lang": "JavaScript",
            "source": "// all parameters are optional\nconst firstCollection = await api.files.getAllAttachments();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100, sort: '-createdTime'}; \nconst secondCollection = await api.files.getAllAttachments(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(attachment => console.log(attachment.fields.relatedType));"
          }
        ]
      },
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Create an attachment",
        "operationId": "PostAttachment",
        "x-sdk-operation-name": "attach",
        "description": "Attaches a file to one or multiple objects, such as: customer,\ndispute, transaction, order, plan, product, invoice, or timeline\ncomment. Attachments enable you to quickly find and use files\nrelated to specific entities.",
        "requestBody": {
          "$ref": "#/components/requestBodies/Attachment"
        },
        "responses": {
          "201": {
            "description": "Attachment created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$attachmentForm = new Rebilly\\Entities\\Attachment();\n$attachmentForm->setFileId('fileId');\n$attachmentForm->setRelatedType($attachmentForm::TYPE_CUSTOMER);\n$attachmentForm->setRelatedId('customerId');\n\ntry {\n    $attachment = $client->attachments()->create($attachmentForm);\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// Define the attachment\nconst data = {\n    // Previously uploaded file ID\n    fileId: 'my-file-id',\n    relatedType: 'customer',\n    relatedId: 'my-customer-id',\n    name: 'an attachment',\n    description: `the customer's file`\n};\n\nconst attachment = await api.files.attach({data});\nconsole.log(attachment.fields.id);\n"
          }
        ]
      }
    },
    "/attachments/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Retrieve an attachment",
        "operationId": "GetAttachment",
        "x-sdk-operation-name": "getAttachment",
        "description": "Retrieves an attachment with a specified ID.",
        "responses": {
          "200": {
            "description": "Attachment retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$attachment = $client->attachments()->load('attachmentId');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const attachment = await api.files.getAttachment({id: 'foobar-001'});\nconsole.log(attachment.fields.relatedType);"
          }
        ]
      },
      "put": {
        "tags": [
          "Files"
        ],
        "summary": "Update an attachment",
        "operationId": "PutAttachment",
        "x-sdk-operation-name": "updateAttachment",
        "description": "Updates an attachment with a specified ID.",
        "requestBody": {
          "$ref": "#/components/requestBodies/Attachment"
        },
        "responses": {
          "200": {
            "description": "Attachment updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "201": {
            "description": "Attachment created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$attachmentForm = new Rebilly\\Entities\\Attachment();\n$attachmentForm->setFileId('fileId');\n$attachmentForm->setRelatedType($attachmentForm::TYPE_CUSTOMER);\n$attachmentForm->setRelatedId('customerId');\n\ntry {\n    $attachment = $client->attachments()->update('attachmentId', $attachmentForm);\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// define the values to update\nconst data = {\n    relatedType: 'customer',\n    relatedId: 'my-customer-id',\n    name: 'an attachment',\n    description: `the customer's file`\n};\n\nconst attachment = await api.files.updateAttachment({id: 'foobar-001', data});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete an attachment",
        "operationId": "DeleteAttachment",
        "x-sdk-operation-name": "detach",
        "description": "Deletes an attachment with a specified ID.",
        "responses": {
          "204": {
            "description": "Attachment deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$client->attachments()->delete('attachmentId');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const request = await api.files.detach({id: 'my-attachment-id'});\n\n// the request does not return any fields but\n// you can confirm the success using the status code\nconsole.log(request.response.status); // 204"
          }
        ]
      }
    },
    "/authentication-options": {
      "get": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Retrieve authentication options",
        "operationId": "GetAuthenticationOption",
        "x-sdk-operation-name": "getAuthOptions",
        "description": "Retrieves customer authentication options.",
        "responses": {
          "200": {
            "description": "Authentication options retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationOptions"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$authenticationOptions = $client->authenticationOptions()->load();\n"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n\n$authenticationOptions = $service->customerAuthentication()->getAuthOptions();\n"
          },
          {
            "lang": "JavaScript",
            "source": "const options = await api.customerAuthentication.getAuthOptions();\nconsole.log(options.fields.credentialTtl);"
          }
        ]
      },
      "put": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Change authentication options",
        "operationId": "PutAuthenticationOption",
        "x-sdk-operation-name": "updateAuthOptions",
        "description": "Changes customer authentication options.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationOptions"
              }
            }
          },
          "description": "Authentication options resource.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication options updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationOptions"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$authenticationOptionsForm = new Rebilly\\Entities\\AuthenticationOptions();\n// Regular expression below matches any password with 6+ length that contains alphabet symbols and/or numbers.\n$authenticationOptionsForm->setPasswordPattern('/^[a-zA-Z0-9]{6,}$/');\n\ntry {\n    $authenticationOptions = $client->authenticationOptions()->update($authenticationOptionsForm);\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// first set the properties for the authentication options\nconst data = {\n    passwordPattern: null,\n    credentialTtl: 10,\n    authTokenTtl: 20,\n    resetTokenTtl: 30\n};\n\nconst options = await api.customerAuthentication.updateAuthOptions({data});\nconsole.log(options.fields.credentialTtl);"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n\n$authenticationOptionsForm = new Rebilly\\Sdk\\Model\\AuthenticationOptions();\n// Regular expression below matches any password with 6+ length that contains alphabet symbols and/or numbers.\n$authenticationOptionsForm->setPasswordPattern('/^[a-zA-Z0-9]{6,}$/');\n\ntry {\n    $authenticationOptions = $service->customerAuthentication()->updateAuthOptions($authenticationOptionsForm);\n} catch (Rebilly\\Sdk\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          }
        ]
      }
    },
    "/authentication-tokens": {
      "get": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Retrieve authentication tokens",
        "operationId": "GetAuthenticationTokenCollection",
        "x-sdk-operation-name": "getAllAuthTokens",
        "description": "Retrieves a list of customer authentication tokens.",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionLimit"
          },
          {
            "$ref": "#/components/parameters/collectionOffset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of auth tokens retrieved.",
            "headers": {
              "Pagination-Total": {
                "$ref": "#/components/headers/Pagination-Total"
              },
              "Pagination-Limit": {
                "$ref": "#/components/headers/Pagination-Limit"
              },
              "Pagination-Offset": {
                "$ref": "#/components/headers/Pagination-Offset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthenticationTokenResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$authenticationTokens = $client->authenticationTokens()->search([\n    'filter' => 'customerId:testCustomer',\n]);\n"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n$listOfTokens = $service->customerAuthentication()->getAllAuthTokens();\n\n// alternatively you can specify one or more of them\n$listOfTokens = $coreService->customerAuthentication()->getAllAuthTokens(limit: 5, offset: 2);\n"
          },
          {
            "lang": "JavaScript",
            "source": "// all parameters are optional\nconst firstCollection = await api.customerAuthentication.getAllAuthTokens();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100}; \nconst secondCollection = await api.customerAuthentication.getAllAuthTokens(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(token => console.log(token.fields.username));"
          }
        ]
      },
      "post": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Login a customer",
        "operationId": "PostAuthenticationToken",
        "x-sdk-operation-name": "login",
        "description": "Logs in a customer.",
        "security": [
          {
            "SecretApiKey": []
          },
          {
            "JWT": []
          },
          {
            "PublishableApiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationToken"
              }
            }
          },
          "description": "AuthenticationToken resource.",
          "required": true
        },
        "responses": {
          "201": {
            "description": "Login successful.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationTokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$authenticationForm = new Rebilly\\Entities\\AuthenticationToken();\n$authenticationForm->setUsername('username');\n$authenticationForm->setPassword('test123');\n\ntry {\n    $authenticationToken = $client->authenticationTokens()->login($authenticationForm);\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "const data = {\n    username: 'foobar',\n    password: 'fuubar'\n\n    // optionally you can define an `expiredTime` to \n    // limit the duration of the session token\n\n    //expiredTime: '2017-09-18T19:17:39Z'\n};\nconst session = await api.customerAuthentication.login({data});\nconsole.log(session.fields.token);"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n\n$authenticationForm = Rebilly\\Sdk\\Model\\AuthenticationToken::from(['mode' => Password::MODE_PASSWORD]);\n$authenticationForm->setUsername('username');\n$authenticationForm->setPassword('test123');\n\ntry {\n    $authenticationToken = $service->customerAuthentication()->login($authenticationForm);\n} catch (Rebilly\\Sdk\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          }
        ]
      }
    },
    "/authentication-tokens/{token}": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "description": "ID of the authentication token.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Verify an authentication token",
        "operationId": "GetAuthenticationTokenVerification",
        "x-sdk-operation-name": "verify",
        "description": "Verifies a customer's authentication token.",
        "security": [
          {
            "SecretApiKey": []
          },
          {
            "JWT": []
          },
          {
            "PublishableApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication token verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationTokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$isVerified = $client->authenticationTokens()->verify('token');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const token = 'dcf6e32f2daee457a1db8ce5fdfbe200';\nconst verification = await api.customerAuthentication.verify({token});\n// if the the token is valid then no error will be thrown\nconsole.log(verification.reponse.status) // 200"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n\n$isVerified = $service->customerAuthentication()->verify('token');\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Logout a customer",
        "operationId": "DeleteAuthenticationToken",
        "x-sdk-operation-name": "logout",
        "description": "Logs out a customer.",
        "security": [
          {
            "SecretApiKey": []
          },
          {
            "JWT": []
          },
          {
            "PublishableApiKey": []
          }
        ],
        "responses": {
          "204": {
            "description": "Customer logged out."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$client->authenticationTokens()->logout('token');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const token = 'dcf6e32f2daee457a1db8ce5fdfbe200';\nconst request = await api.customerAuthentication.logout({token});\n\n// the request does not return any fields but\n// you can confirm the success using the status code\nconsole.log(request.response.status); // 204"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n\n$service->customerAuthentication()->logout('token');\n"
          }
        ]
      }
    },
    "/authentication-tokens/{token}/exchange": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "description": "ID of the authentication token.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Exchange an authentication token",
        "operationId": "PostAuthenticationTokenExchange",
        "x-sdk-operation-name": "exchangeToken",
        "description": "Exchanges an authentication token for a JWT.\n\n\nBy default, this operation invalidates the exchanged authentication token.",
        "security": [
          {
            "SecretApiKey": []
          },
          {
            "JWT": []
          },
          {
            "PublishableApiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerJWT"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Authentication token exchanged for a JWT.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerJWT"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/blocklists": {
      "get": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Retrieve blocklists",
        "operationId": "GetBlocklistCollection",
        "x-sdk-operation-name": "getAll",
        "description": "Retrieves a list of all blocklists.",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionLimit"
          },
          {
            "$ref": "#/components/parameters/collectionOffset"
          },
          {
            "$ref": "#/components/parameters/collectionSort"
          },
          {
            "$ref": "#/components/parameters/collectionFilter"
          },
          {
            "$ref": "#/components/parameters/collectionQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of blocklists retrieved.",
            "headers": {
              "Pagination-Total": {
                "$ref": "#/components/headers/Pagination-Total"
              },
              "Pagination-Limit": {
                "$ref": "#/components/headers/Pagination-Limit"
              },
              "Pagination-Offset": {
                "$ref": "#/components/headers/Pagination-Offset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Blocklist"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$blocklists = $client->blocklists()->search([\n    'filter' => 'value:testValue',\n]);\n"
          },
          {
            "lang": "JavaScript",
            "source": "// all parameters are optional\nconst firstCollection = await api.blocklists.getAll();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100, sort: '-createdTime'};\nconst secondCollection = await api.blocklists.getAll(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(blocklistItem => console.log(blocklistItem.fields.status));\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Create a blocklist",
        "operationId": "PostBlocklist",
        "x-sdk-operation-name": "create",
        "description": "Creates a blocklist.",
        "requestBody": {
          "$ref": "#/components/requestBodies/Blocklist"
        },
        "responses": {
          "201": {
            "description": "Blocklist created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blocklist"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$blocklistForm = new Rebilly\\Entities\\Blocklist();\n$blocklistForm->setType($blocklistForm::TYPE_EMAIL);\n$blocklistForm->setValue('test@test.com');\n$blocklistForm->setExpiredTime('2025-01-01 05:00:00');\n\ntry {\n    $blocklist = $client->blocklists()->create($blocklistForm);\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// first set the required properties for the new blocklist item\nconst data = {\n    type: 'ip-address',\n    value: '63.118.98.100'\n\n    // optionally provide an `expirationTime` to make\n    // the item expire and function like a `greylist`\n\n    // expirationTime: '2017-09-18T21:50:44Z'\n};\n\n// the ID is optional\nconst firstKey = await api.blocklists.create({data});\n\n// or you can provide one\nconst secondKey = await api.blocklists.create({id: 'my-second-id', data});\n"
          }
        ]
      }
    },
    "/blocklists/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "get": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Retrieve a blocklist",
        "operationId": "GetBlocklist",
        "x-sdk-operation-name": "get",
        "description": "Retrieves a blocklist with a specified ID.",
        "responses": {
          "200": {
            "description": "Blocklist retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blocklist"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$blocklist = $client->blocklists()->load('blocklistId');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const blocklistItem = await api.blocklists.get({id: 'foobar-001'});\nconsole.log(blocklistItem.fields.status);\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Create a blocklist with specified ID",
        "operationId": "PutBlocklist",
        "x-sdk-operation-name": "update",
        "description": "Creates a blocklist with a specified ID.",
        "requestBody": {
          "$ref": "#/components/requestBodies/Blocklist"
        },
        "responses": {
          "200": {
            "description": "Blocklist updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blocklist"
                }
              }
            }
          },
          "201": {
            "description": "Blocklist created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blocklist"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$blocklistForm = new Rebilly\\Entities\\Blocklist();\n$blocklistForm->setType($blocklistForm::TYPE_EMAIL);\n$blocklistForm->setValue('test@test.com');\n$blocklistForm->setExpiredTime('2025-01-01 05:00:00');\n\ntry {\n    $blocklist = $client->blocklists()->create($blocklistForm, 'blocklistId');\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// first set the required properties for the new blocklist item\nconst data = {\n    type: 'ip-address',\n    value: '63.118.98.100'\n\n    // optionally provide an `expirationTime` to make\n    // the item expire and function like a `greylist`\n\n    // expirationTime: '2017-09-18T21:50:44Z'\n};\n\n// the ID is optional\nconst firstKey = await api.blocklists.create({data});\n\n// or you can provide one\nconst secondKey = await api.blocklists.create({id: 'my-second-id', data});\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Delete a blocklist",
        "operationId": "DeleteBlocklist",
        "x-sdk-operation-name": "delete",
        "description": "Deletes a blocklist with a specified ID.",
        "responses": {
          "204": {
            "description": "Blocklist deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$client->blocklists()->delete('blocklistId');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const request = await api.blocklists.delete({id: 'my-second-key'});\n\n// the request does not return any fields but\n// you can confirm the success using the status code\nconsole.log(request.response.status); // 204\n"
          }
        ]
      }
    },
    "/coupons-redemptions": {
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "Retrieve coupon redemptions",
        "operationId": "GetCouponRedemptionCollection",
        "x-sdk-operation-name": "getAllRedemptions",
        "description": "Retrieves a list of coupon redemptions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionLimit"
          },
          {
            "$ref": "#/components/parameters/collectionOffset"
          },
          {
            "$ref": "#/components/parameters/collectionFilter"
          },
          {
            "$ref": "#/components/parameters/collectionQuery"
          },
          {
            "$ref": "#/components/parameters/collectionSort"
          }
        ],
        "responses": {
          "200": {
            "description": "List of coupon redemptions retrieved.",
            "headers": {
              "Pagination-Total": {
                "$ref": "#/components/headers/Pagination-Total"
              },
              "Pagination-Limit": {
                "$ref": "#/components/headers/Pagination-Limit"
              },
              "Pagination-Offset": {
                "$ref": "#/components/headers/Pagination-Offset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CouponRedemption"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$couponRedemptions = $client->couponsRedemptions()->search([\n    'filter' => 'customerId:testCustomer',\n]);\n"
          },
          {
            "lang": "JavaScript",
            "source": "// all parameters are optional\nconst firstCollection = await api.coupons.getAllRedemptions();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100, sort: '-createdTime'}; \nconst secondCollection = await api.coupons.getAllRedemptions(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(coupon => console.log(coupon.fields.status));"
          }
        ]
      },
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Redeem a coupon",
        "operationId": "PostCouponRedemption",
        "x-sdk-operation-name": "redeem",
        "security": [
          {
            "SecretApiKey": []
          },
          {
            "JWT": []
          },
          {
            "ApplicationJWT": []
          }
        ],
        "description": "Redeems a coupon.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponRedemption"
              }
            }
          },
          "description": "Coupon resource.",
          "required": true
        },
        "responses": {
          "201": {
            "description": "Coupon redeemed.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponRedemption"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$redemptionForm = new Rebilly\\Entities\\Coupons\\Redemption();\n$redemptionForm->setCustomerId('customerId');\n$redemptionForm->setCouponId('couponId');\n\n$restrictionData = [\n    'type' => Rebilly\\Entities\\Coupons\\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,\n    'quantity' => 2,\n];\n\n$restrictionForm = Rebilly\\Entities\\Coupons\\Restriction::createFromData($restrictionData);\n\n$redemptionForm->setAdditionalRestrictions([$restrictionForm]);\n\ntry {\n    $couponRedemption = $client->couponsRedemptions()->redeem($redemptionForm);\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// build the redemption data\nconst data = {\n  couponId: 'my-best-coupon',\n  customerId: 'foobar-001'\n};\n\nconst redemption = await api.coupons.redeem({data});\nconsole.log(redemption.fields.id);\n"
          }
        ]
      }
    },
    "/coupons-redemptions/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "Retrieve a coupon redemption",
        "operationId": "GetCouponRedemption",
        "x-sdk-operation-name": "getRedemption",
        "description": "Retrieves a coupon redemption with a specified ID.",
        "responses": {
          "200": {
            "description": "Coupon redemption retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponRedemption"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$couponRedemption = $client->couponsRedemptions()->load('redemptionId');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const redemption = await api.coupons.getRedemption({id: 'foobar-001'});\nconsole.log(redemption.fields.id);"
          }
        ]
      }
    },
    "/coupons-redemptions/{id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Cancel a coupon redemption",
        "operationId": "PostCouponRedemptionCancellation",
        "x-sdk-operation-name": "cancelRedemption",
        "description": "Cancels a coupon redemption with a specified ID.",
        "responses": {
          "201": {
            "description": "Coupon redemption cancelled.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$client->couponsRedemptions()->cancel('id');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const cancellation = await api.coupons.cancelRedemption({id: 'foobar-001'});\n\n// the request does not return any fields but\n// you can confirm the success using the status code\nconsole.log(cancellation.response.status); // 201"
          }
        ]
      }
    },
    "/coupons": {
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "Retrieve coupons",
        "operationId": "GetCouponCollection",
        "x-sdk-operation-name": "getAll",
        "description": "Retrieves a list of coupons.",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionLimit"
          },
          {
            "$ref": "#/components/parameters/collectionOffset"
          },
          {
            "$ref": "#/components/parameters/collectionFilter"
          },
          {
            "$ref": "#/components/parameters/collectionQuery"
          },
          {
            "$ref": "#/components/parameters/collectionSort"
          }
        ],
        "responses": {
          "200": {
            "description": "List of coupons retrieved.",
            "headers": {
              "Pagination-Total": {
                "$ref": "#/components/headers/Pagination-Total"
              },
              "Pagination-Limit": {
                "$ref": "#/components/headers/Pagination-Limit"
              },
              "Pagination-Offset": {
                "$ref": "#/components/headers/Pagination-Offset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Coupon"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$coupons = $client->coupons()->search([\n    'filter' => 'status:issued',\n]);\n"
          },
          {
            "lang": "JavaScript",
            "source": "// all parameters are optional\nconst firstCollection = await api.coupons.getAll();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100, sort: '-createdTime'}; \nconst secondCollection = await api.coupons.getAll(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(coupon => console.log(coupon.fields.status));"
          }
        ]
      },
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Create a coupon",
        "operationId": "PostCoupon",
        "x-sdk-operation-name": "create",
        "security": [
          {
            "SecretApiKey": []
          },
          {
            "JWT": []
          },
          {
            "ApplicationJWT": []
          }
        ],
        "description": "Creates a coupon.",
        "requestBody": {
          "$ref": "#/components/requestBodies/Coupon"
        },
        "responses": {
          "201": {
            "description": "Coupon created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coupon"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$couponForm = new Rebilly\\Entities\\Coupons\\Coupon();\n\n$discountArray = [\n    'currency' => 'USD',\n    'amount' => 1.99,\n];\n\n$discountForm = new \\Rebilly\\Entities\\Coupons\\Discounts\\Fixed($discountArray);\n$couponForm->setDiscount($discountForm);\n// Coupon can be used right now\n$couponForm->setIssuedTime(date('c'));\n\n$restrictionArray = [\n    'quantity' => 2,\n];\n\n$restrictionForm = new Rebilly\\Entities\\Coupons\\Restrictions\\DiscountsPerRedemption($restrictionArray);\n\n$couponForm->setRestrictions([$restrictionForm]);\n\ntry {\n    $coupon = $client->coupons()->create($couponForm);\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// first set the required properties for the new coupon\nconst data = {\n    description: 'a new coupon',\n    issuedTime: '2017-09-19T20:46:44Z',\n    discount: {\n        type: 'percent',\n        value: 12\n    },\n    restrictions: [{\n        type: 'discounts-per-redemption',\n        quantity: 12\n    }]\n};\n\n// the ID is optional\nconst firstKey = await api.coupons.create({data});\n\n// or you can provide one\nconst secondKey = await api.coupons.create({id: 'my-second-id', data});\n"
          }
        ]
      }
    },
    "/coupons/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "Retrieve a coupon",
        "operationId": "GetCoupon",
        "x-sdk-operation-name": "get",
        "description": "Retrieves a coupon with a specified ID.",
        "responses": {
          "200": {
            "description": "Coupon retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coupon"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$coupon = $client->coupons()->load('couponId');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const coupon = await api.coupons.get({couponId: 'foobar-001'});\nconsole.log(coupon.fields.status);\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Coupons"
        ],
        "summary": "Upsert a coupon",
        "operationId": "PutCoupon",
        "x-sdk-operation-name": "update",
        "security": [
          {
            "SecretApiKey": []
          },
          {
            "JWT": []
          },
          {
            "ApplicationJWT": []
          }
        ],
        "description": "Creates or updates (upserts) a coupon with a specified coupon ID.",
        "requestBody": {
          "$ref": "#/components/requestBodies/Coupon"
        },
        "responses": {
          "200": {
            "description": "Coupon updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coupon"
                }
              }
            }
          },
          "201": {
            "description": "Coupon created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coupon"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$couponForm = new Rebilly\\Entities\\Coupons\\Coupon([\n    'issuedTime' => '2022-01-01T00:00:00-04:00',\n]);\n\n$discountArray = [\n    'type' => Rebilly\\Entities\\Coupons\\Discount::TYPE_FIXED,\n    'currency' => 'USD',\n    'amount' => 1.99,\n];\n\n$discountForm = Rebilly\\Entities\\Coupons\\Discount::createFromData($discountArray);\n$couponForm->setDiscount($discountForm);\n\n$restrictionArray = [\n    'type' => Rebilly\\Entities\\Coupons\\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,\n    'quantity' => 2,\n];\n\n$restrictionForm = Rebilly\\Entities\\Coupons\\Restriction::createFromData($restrictionArray);\n\n$couponForm->setRestrictions([$restrictionForm]);\n\ntry {\n    $coupon = $client->coupons()->create($couponForm, 'couponId');\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// creating a coupon\nconst data = {\n    description: 'a new coupon',\n    issuedTime: '2017-09-19T20:46:44Z',\n    discount: {\n        type: 'percent',\n        value: 12\n    },\n    restrictions: [{\n        type: 'discounts-per-redemption',\n        quantity: 12\n    }]\n};\n\n// the ID is optional\nconst firstKey = await api.coupons.create({data});\n\n// or you can provide one\nconst secondKey = await api.coupons.create({id: 'my-second-id', data});\n\n\n// updating a coupon\nconst data = {\n    description: 'a small update'\n};\n\nconst coupon = await api.coupons.update({id: 'my-second-id', data});\n"
          }
        ]
      }
    },
    "/coupons/{id}/expiration": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Specify a coupon expiration time",
        "operationId": "PostCouponExpiration",
        "x-sdk-operation-name": "setExpiration",
        "description": "Specifies the expiration time of a coupon with a specified ID.\nThe `expiredTime` of a coupon must be greater than its `issuedTime`.\n\n> **Note:** This operation cannot be performed on expired coupons.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponExpiration"
              }
            }
          },
          "description": "Coupon resource."
        },
        "responses": {
          "201": {
            "description": "Coupon expiration set.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coupon"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Coupon has expired and been redeemed. Unable to reschedule\nexpiration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "const data = {\n    expiredTime: \"2020-05-25T18:51:14Z\"\n}\n\nconst coupon = await api.coupons.setExpiration({id: 'my-second-id', data});\n"
          }
        ]
      }
    },
    "/credentials": {
      "get": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Retrieve credentials",
        "operationId": "GetCredentialCollection",
        "x-sdk-operation-name": "getAllCredentials",
        "description": "Retrieves a list of authentication credentials.",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionLimit"
          },
          {
            "$ref": "#/components/parameters/collectionOffset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of authentication credentials retrieved.",
            "headers": {
              "Pagination-Total": {
                "$ref": "#/components/headers/Pagination-Total"
              },
              "Pagination-Limit": {
                "$ref": "#/components/headers/Pagination-Limit"
              },
              "Pagination-Offset": {
                "$ref": "#/components/headers/Pagination-Offset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerCredential"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$customerCredentials = $client->customerCredentials()->search([\n    'filter' => 'customerId:testCustomer',\n]);\n"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n\n$customerCredentials = $service->customerAuthentication()->getAllCredentials(filter: 'customerId:testCustomer');\n"
          },
          {
            "lang": "JavaScript",
            "source": "// all parameters are optional\nconst firstCollection = await api.customerAuthentication.getAllCredentials();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100}; \nconst secondCollection = await api.customerAuthentication.getAllCredentials(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(credential => console.log(credential.fields.customerId));"
          }
        ]
      },
      "post": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Create a credential",
        "operationId": "PostCredential",
        "x-sdk-operation-name": "createCredential",
        "description": "Creates an authentication credential.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCredential"
              }
            }
          },
          "description": "Credential resource.",
          "required": true
        },
        "responses": {
          "201": {
            "description": "Credential created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCredential"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$customerCredentialForm = new Rebilly\\Entities\\CustomerCredential();\n$customerCredentialForm->setCustomerId('customerId');\n$customerCredentialForm->setUsername('test');\n$customerCredentialForm->setPassword('1234');\n\ntry {\n    $customerCredential = $client->customerCredentials()->create($customerCredentialForm);\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// first set the required properties for the new credential\nconst data = {\n    username: 'foobar',\n    password: 'fuubar',\n    customerId: 'foobar-0001'\n\n    // optionally you can define an `expiredTime` to \n    // limit the duration of the credential\n\n    //expiredTime: '2017-09-18T19:17:39Z'\n};\n\n// the ID is optional\nconst firstCredential = await api.customerAuthentication.createCredential({data});\n\n// or you can provide one\nconst secondCredential = await api.customerAuthentication.createCredential({id: 'my-second-id', data});"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n\n$customerCredentialForm = Rebilly\\Sdk\\Model\\CustomerCredential::from([])\n    ->setCustomerId('customerId')\n    ->setUsername('test')\n    ->setPassword('1234');\n\ntry {\n    $customerCredential = $service->customerAuthentication()->createCredential($customerCredentialForm);\n} catch (Rebilly\\Sdk\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          }
        ]
      }
    },
    "/credentials/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "get": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Retrieve a credential",
        "operationId": "GetCredential",
        "x-sdk-operation-name": "getCredential",
        "description": "Retrieves a credential with a specified ID.",
        "responses": {
          "200": {
            "description": "Credential retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCredential"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$customerCredential = $client->customerCredentials()->load('credentialId');\n"
          },
          {
            "lang": "JavaScript",
            "source": "const credential = await api.customerAuthentication.getCredential({id: 'my-first-id'});\nconsole.log(credential.fields.customerId);"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n\n$customerCredential = $service->customerAuthentication()->getCredential('credentialId');\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Upsert a credential",
        "operationId": "PutCredential",
        "x-sdk-operation-name": "updateCredential",
        "description": "Creates or updates (upserts) an authentication credential with a specified ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCredential"
              }
            }
          },
          "description": "Credential resource.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Credential updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCredential"
                }
              }
            }
          },
          "201": {
            "description": "Credential created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCredential"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$customerCredentialForm = new Rebilly\\Entities\\CustomerCredential();\n$customerCredentialForm->setCustomerId('customerId');\n$customerCredentialForm->setUsername('test');\n$customerCredentialForm->setPassword('1234');\n\ntry {\n    $customerCredential = $client->customerCredentials()->update('credentialId', $customerCredentialForm);\n} catch (Rebilly\\Http\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "// creating a new credential\nconst data = {\n    username: 'foobar',\n    password: 'fuubar',\n    customerId: 'foobar-0001'\n\n    // optionally you can define an `expiredTime` to \n    // limit the duration of the credential\n\n    //expiredTime: '2017-09-18T19:17:39Z'\n};\n\n// the ID is optional\nconst firstCredential = await api.customerAuthentication.createCredential({data});\n\n// or you can provide one\nconst secondCredential = await api.customerAuthentication.createCredential({id: 'my-second-id', data});\n\n\n\n\n// updating a credential\nconst data = {\n    username: 'foobar',\n    password: 'hell0'\n};\n\nconst secondCredential = await api.customerAuthentication.updateCredential({id: 'my-second-id', data});"
          },
          {
            "lang": "PHP",
            "label": "PHP-SDK-3.0",
            "source": "$service = new Rebilly\\Sdk\\CoreService($client);\n\n$customerCredentialForm = Rebilly\\Sdk\\Model\\CustomerCredential::from([])\n    ->setCustomerId('customerId')\n    ->setUsername('test')\n    ->setPassword('1234');\n\ntry {\n    $customerCredential = $service->customerAuthentication()->updateCredential('credentialId', $customerCredentialForm);\n} catch (Rebilly\\Sdk\\Exception\\DataValidationException $e) {\n    print_r($e->getValidationErrors());\n}\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer authentication"
        ],
        "summary": "Delete a credential",
        "operationId": "DeleteCredential",
        "x-sdk-operation-name": "deleteCredential",
        "description": "Deletes an authentication credential with a specified ID.",
        "responses": {
          "204": {
            "description": "Credential deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
[...]
